.time-line {
    position: relative;
}

.time-item {
    position: relative;
}

.time-year {
    position: absolute;
    top: 15%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    color: #999;
    opacity: 1;
    font-weight: 400;
}

.icon-holder-time {
    display: inline-block;
    position: absolute;
    top: 32px;
    left: -30px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #fff;
    font-size: 30px;
    line-height: 0;
    padding: 0 1px;
    border-radius: 50%;
}
